.cardWithoutMargin {
  margin: 0 !important;
  transition: box-shadow 0.3s;
}
.cardWithoutMargin:hover {
box-shadow: 0px 0px 14px -7px #0d6dfdad;
}

.fontS {
  font-size: 14px;
}

.hover-underline-animation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #1494d4;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 102%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #1494d4;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-97 {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  transition: all 0.5s ease-out;
  background-color: #0d6efd;
  text-decoration: none;
}

.button-97:hover {
  cursor: pointer;
  background-color: #3787ff;
}

.button-17 {
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #f11010;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

.button-17:hover {
  cursor: pointer;
  background-color: #f04d4d;
}

.button-27 {
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #1e996c;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

.button-27:hover {
  cursor: pointer;
  background-color: #2faa7d;
}

@media (min-width: 1220px) {
  .cardsMedium {
    display: flex !important;
  }
}
@media (min-width: 1220px) {
  .cardsMedium {
    display: flex !important;
    margin-right: 0px !important;
  }
}
@media (max-width: 1220px) {
  .button-27 {
    margin-right: 0px !important;
  }
  .button-17 {
    margin-right: 0px !important;
  }
  .button-97 {
    margin-right: 0px !important;
  }
}
@media (max-width: 1220px) {
  .cardsBtnM {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.form-control:focus {
  border-color: #0d6efd;
  border-left: 5px solid #0d6efd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(255, 100, 255, 0.5);
}

.bgSide {
  background-color: rgb(15, 89, 100);
}

.btn-green {
  background-color: #1e996c;
}

.btn-primary {
  border: 0 !important;
}
.btn-primary:focus {
  outline: 0 !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(255, 100, 255, 0.5);
  border: 0 !important;
}

.arrowGreen {
  color: #1e996c;
}
.arrowPrimary {
  color: #0d6efd;
}

.bgEdit {
  color: white;
  background-color: #0d6efd;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}
.bgEdit:hover {
  color: #0d6efd;
  background-color: white;
  cursor: pointer;
}
.bgView {
  color: white;
  background-color: #1e996c;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}
.bgView:hover {
  color: #1e996c;
  background-color: white;
  cursor: pointer;
}
.bgDelete {
  color: white;
  background-color: #f11010;
  padding: 0.5rem;
  border-radius: 5px;

  transition: all 0.5s ease-out;
}
.bgDelete:hover {
  color: #f11010;
  background-color: white;
  cursor: pointer;
}
table tr:last-child td {
  border-bottom: 0px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table th:last-child {
  border-top-right-radius: 6px;
}

table th:first-child {
  border-top-left-radius: 6px;
}
th,
td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
      vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #263238;
}

th{
    background-color: #263238;
}